[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fluent-logger = {version="*", index="pypi"}
python-json-logger = {version="*", index="pypi"}
pyyaml = {version="*", index="pypi"}
aiohttp = {version="*", index="pypi"}

[dev-packages]

[requires]
python_version = "3.7"
